# See https://www.dartlang.org/tools/private-files.html

# Files and directories created by pub
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
/.idea
/android/.idea
/android/.gradle
*.iml
.flutter-plugins
android/local.properties
/android/local.properties
android/local.properties
android/app/app.iml
.vscode/launch.json
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner/GeneratedPluginRegistrant.m
